@import "fonts.scss";
@import "_normalize.scss";
@import "var.scss";
@import "colors.scss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button, a {
  padding: 0;
  outline: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background: #fafafa;
  font-family: SanFranciscoText;
  color: $black-three;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.video-container {
  position: relative;
  padding-bottom: 53.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-940 {
  @include container(970);
}

.container-1100 {
  @include container(1130);
}

.p-descr {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: $black-three;
  margin: 0;
}

.p-patrick {
  font-family: PatrickHand;
  font-size: 42px;
  color: $black-three;

}

.art-divider-top {
  border-top: 2px solid $white-five;
  width: 100%;
  height: 114px;
  background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(249,249,249,0.1) 100%);
}

.art-divider-bottom {
  border-bottom: 2px solid $white-five;
  background: linear-gradient(to bottom, rgba(249,249,249,0.1) 0%,rgba(249,249,249,1) 100%);
  width: 100%;
  height: 114px;
}

.custom-art-list {

  &__item {
    display: flex;
    margin-bottom: 40px;
    text-align: left;
  }

  &__icon {
    width: 100%;
    max-width: 55px;
  }

  &__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.art-sun {
  display: flex;

  &__content {
    width: 60%;
    position: relative;
    background-color: rgb(254, 239, 138);
    padding: 45px 10% 45px 50px;

    &:before, &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      box-shadow: 0 15px 16px rgba(9,9,9,0.3);
      transform: rotate(-2deg);
    }

    &:after {
      transform: rotate(2deg);
      right: 0px;
      left: auto;
    }

    &_text {
      font-family: PatrickHand;
      font-size: 26px;
      line-height: 1.38;
    }

    &_author {
      font-size: 24px;
      font-weight: bold;
      line-height: normal;
      text-align: right;
    }
  }

  &__photo {
    width: 40%;
    position: relative;
  }
}

/*** Art-1 ***/

.art-1 {
  text-align: center;

  &__title-1 {
    font-size: 36px;
    line-height: 0.83;
    margin: 25px 0;
  }

  &__title-2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 0.83;
    margin-bottom: 75px;

    span {
      position: relative;
      display: inline-block;

      img {
        position: absolute;
        bottom: -15px;
        right: 0;
        width: 100%;
        height: 13px;
      }
    }
  }

  &__media {

    &_title {
      font-size: 24px;
      font-weight: bold;
      color: $white;
      padding: 15px;
      background-color: $red;
      position: relative;
      z-index: 1;

      span {
        position: relative;
        display: inline-block;
        padding-right: 26px;
        img {
          position: absolute;
          right: 0;
          top: 95%;
        }
      }
    }
  }
}

/*** Art-2 ***/

.art-2 {
  margin-top: 40px;

  &__inner {
    display: flex;
  }

  &__avatar {
    width: 100%;
    max-width: 300px;
    text-align: center;

    &_name {
      font-family: ArtySignature;
      font-size: 81px;
      line-height: 0.58;
      margin: 20px 0;
    }

    &_post {
      font-size: 16px;
    }
  }

  &__title-1 {
    font-size: 39px;
    margin-bottom: 35px;
  }

  &__lists {
    padding: 40px 0 0 65px;

    .p-descr {
      padding-bottom: 30px;
      border-bottom: 2px solid $white-five;
    }

    .custom-art-list {
      margin-top: 44px;

      &__title {
        color: $red;
      }
    }
  }

  .art-divider-top {
    margin-bottom: -40px;
  }
}

/*** Art-3 ***/

.art-3 {
  position: relative;
  z-index: 1;
  &__title-1 {
    font-size: 38px;
    font-weight: bold;
    line-height: 0.79;
    text-align: center;
    margin-bottom: 75px;

    span {
      display: inline-block;
      position: relative;
      padding: 0 25px 15px;

      img {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        max-width: none;
        height: 11px;
      }
    }
  }

  &__red {
    padding: 25px 40px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $red;
    text-align: center;
    margin-bottom: 60px;

    span {
      display: block;
      padding: 0 20px;
      @include container(550);
      font-size: 24px;
      font-weight: bold;
      color: $white;
    }
  }

  &__next-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_img {
      max-width: 290px;
      width: 100%;
    }

    &_text {
      width: 60%;

      &_title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        color: $red;
        margin: 20px 0 0;
      }
    }
  }

  &__title-2 {
    font-size: 38px;
    font-weight: bold;
    line-height: 0.79;
    text-align: center;
    margin: 90px 0;

    span {
      display: inline-block;
      position: relative;
      padding: 0 15px 15px;

      img {
        position: absolute;
        top: 85%;
        left: 0;
        right: 0;
        width: 100%;
        max-width: none;
      }
    }
  }

  &__next-3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: 2px solid $white-five;
    margin-bottom: 55px;

    &_text {
      width: 65%;
      padding-left: 5%;
    }

    .p-descr {
      & + .p-descr {
        margin-top: 25px;
      }
    }
  }

  &__next-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_text {
      width: 59%;
      padding-left: 5%;
    }

    &_title {
      font-size: 28px;
      font-weight: bold;
      color: $red;
      margin-bottom: 25px;
    }

    &_author {
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      text-align: right;
      padding-right: 10%;
    }

    &.order-right {
      .art-3__next-4_img {
        order: 1;
      }

      .art-3__next-4_text {
        order: 0;
        padding-left: 0;
        padding-right: 5%;
      }
    }
  }

  .art-divider-bottom {
    margin-top: -60px;
  }

  .art-divider-top {
    margin-bottom: -30px;
  }

  &__next-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;

    &_text {
      width: 70%;
      padding-right: 5%
    }

    &_title {
      font-size: 39px;
      line-height: 0.77;
      margin-bottom: 35px;
    }

    &_author {
      text-align: right;
      font-family: ArtySignature;
      font-size: 81px;
      line-height: 0.58;
      margin-top: 40px;
    }
  }

  &__next-6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    &__item {
      width: 31.1%;
      max-width: 290px;
      text-align: center;

      &_img {
        margin-bottom: 20px;
      }

      .p-descr {
        text-align: center;

        & + .p-descr {
          margin-top: 25px;
          font-size: 16px;
        }
      }
    }
  }

  &__next-7 {
    padding: 32px 13% 29px;
    border: solid 2px $red;
    text-align: center;
    position: relative;
    margin-bottom: 97px;

    &_title {
      font-size: 24px;
      color: $red;
      font-weight: bold;
      margin-bottom: 40px;
    }

    &_text {
      font-size: 24px;
      color: $red;

      u {
        font-weight: 500;
      }
    }

    &_arrow {
      position: absolute;
      top: 91%;
      right: 6%;
      width: 26px;
      height: 57px;
      z-index: 1;
    }
  }

  &__next-8 {
    margin-bottom: 130px;
    .art-sun__content {
      width: calc(63% + 50px);
    }
    .art-sun__photo {
      margin: -21px 0 -60px -50px;
    }
  }

  &__next-9 {
    padding-bottom: 0;
    border: none;
    margin-bottom: 20px;

    .art-3__next-3_text {
      width: 69%;
    }

    &_see {
      text-align: center;
      color: $red;
      margin-top: 50px;

      span {
        position: relative;
        display: inline-block;
        img {
          position: absolute;
          top: 65%;
          right: -20px;
        }
      }
    }
  }

  &__next-10 {
    img {
      margin: auto;
    }

    &_title {
      font-weight: bold;
      color: $red;
      font-size: 20px;
      margin-top: 50px;
    }

    .p-descr {
      margin-top: 35px;
    }
  }
}

/*** Art-4 ***/

.art-4 {

}

/*** Art-5 ***/

.art-5 {

}

/*** Art-6 ***/

.art-6 {

}
