@font-face {
    font-family: "SanFranciscoText-LightItalic";
    src: url("SanFranciscoText-LightItalic.eot");
    src: url("SanFranciscoText-LightItalic.eot?#iefix") format("embedded-opentype"),
         url("SanFranciscoText-LightItalic.woff2") format("woff2"),
         url("SanFranciscoText-LightItalic.woff") format("woff"),
         url("SanFranciscoText-LightItalic.ttf") format("ttf"),
         url("SanFranciscoText-LightItalic.svg#SanFranciscoText-LightItalic") format("svg");
    font-style: italic;
    font-weight: ultralight;
}